<div class="flex justify-content-center" style="margin-top: 50px">
  <p-card class="col-6" header="Registrese">
    <form [formGroup]="form">
      <div class="w-100 h-100">
        <div class="">
          <div class="w-100 p-1">
            <label for="name_" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              formControlName="name_"
              [class.is-invalid]="invalidName"
            />
            <small *ngIf="invalidName" class="text-danger"
              >Ingrese un nombre valido</small
            >
          </div>
          <div class="w-100 p-1">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              [class.is-invalid]="invalidEmail"
            />
            <small *ngIf="invalidEmail" class="text-danger"
              >Ingrese un email valido</small
            >
          </div>
          <div class="w-100 p-1">
            <label for="password_" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password_"
              [class.is-invalid]="invalidPassword"
            />
            <small *ngIf="invalidPassword" class="text-danger"
              >Ingrese una contraseña</small
            >
          </div>
        </div>
      </div>
      <div class="mt-1 flex justify-content-end justify-content-between">
        <p-button
          label="Volver"
          icon="pi pi-arrow-left"
          styleClass="p-button-outlined p-button-secondary button-form"
          [routerLink]="['/auth']"
        ></p-button>
        <p-button
          label="Guardar"
          icon="pi pi-cloud"
          styleClass="p-button-outlined button-form"
          [ngClass]="form.valid ? 'p-button-primary' : 'p-button-secondary'"
          (click)="setSubmitMetods()"
          [routerLink]="['/auth']"
          [disabled]="!form.valid"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>
