<div class="after-navbar">
  <div class="w-100 relative flex flex-wrap">
    <div
      class="box-navbar w-100 flex align-items-center justify-content-between overflow-auto"
    >
      <div class="flex align-items-center my-1">
        <span class="col-fixed p-0 label-menu p-1">Productos</span>
        <p-button
          label="Lista"
          icon="pi pi-arrow-left"
          styleClass="p-button-outlined p-button-secondary button-form"
          (click)="
            toggleCreate({ create: 0, list: 1, edit: 0, editId: 0, delete: 0 })
          "
          *ngIf="statusForm.create || statusForm.edit"
        ></p-button>
        <p-button
          label="Crear"
          icon="pi pi-plus"
          styleClass="p-button-outlined p-button-success button-form"
          (click)="
            toggleList({ create: 1, list: 0, edit: 0, editId: 0, delete: 0 })
          "
          *ngIf="statusForm.list"
        ></p-button>
      </div>
      <div class="flex justify-content-end">
        <p-button
          label="Guardar"
          icon="pi pi-cloud"
          styleClass="p-button-outlined button-form"
          [ngClass]="
            form?.form?.valid ? 'p-button-success' : 'p-button-secondary'
          "
          (click)="
            statusForm.create ? form?.setSubmitMetods() : form?.saveUpdate()
          "
          [disabled]="!form?.form?.valid"
          *ngIf="statusForm.create || statusForm.edit"
        ></p-button>
      </div>
    </div>
    <div class="w-100 h-100">
      <app-products-form
        #productForm
        *ngIf="statusForm.create || statusForm.edit"
        (statusFormEmit)="toggleCreate($event)"
        [statusForm]="statusForm"
        class="form w-100 h-100"
      >
      </app-products-form>
      <app-products-list
        *ngIf="statusForm.list"
        class="form w-100 h-100"
        (statusFormEmit)="toggleEdit($event)"
      >
      </app-products-list>
    </div>
  </div>
</div>
